#contact-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form-submit {
  flex-direction: column;
  padding: 8px;
  gap: 10px;
  width: 107px;
  height: 66px;
  background: #00b2c1;
  border: 0;
  border-radius: 8px;
  box-shadow: 6px 6px 4px #075e65;
  flex: none;
  cursor: pointer;
}

#contact-form-submit {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
